.titleblk{
    background-color: darkcyan;
    overflow: hidden;
    padding: 10px;
    font-style: italic;
}
.titleblk a{
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    color: bisque;
}
/* .titleblk a:hover{ */
    /* color: crimson; */
    /* background-color: darkblue; */
/* } */
#laybtn{
    background-image:url(../media/images.jfif);
    background-size: cover;
    background-position: center;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    display: flex;    
     
}
.btn {
    background-color: rgba(0,  0,  0, 0.5);
    padding:20px;
    
}
.btn-button{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee6c4d;
    color: white;
    border-radius: 5px;
}
 .img{
    height: auto;
    max-width: 400px;
    background-image: inherit;
    
 }
 .body{
    margin: 0;
}
*{
    box-sizing: border-box;
    font-weight: 700;
    list-style-type:none;
}
.svr{
    text-align: center;
    font-size: normal;
    background-color:darkcyan;
    padding: 10px;
    padding-top: 10px;
}
.abt{
   text-align: center;
   background-color:skyblue;
   padding: 10px;
   word-spacing: 1%;
   font-size:normal;  
}

.cntus{
   text-align: center;
   font-size: normal;
   background-color:darkcyan;
   padding: 10px;
   list-style-position: inside;
}
.ending{
    text-align: center;
    font-size:medium;
    background-color:skyblue;
    padding: 10px;
    color: black;
    list-style-type:lower-roman;
}
